{
    "ignorePatterns": [".prettierignore"],
    "extends": ["plugin:@next/next/recommended", "plugin:@typescript-eslint/recommended", "plugin:react-hooks/recommended"],
    "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "unused-imports/no-unused-imports": "error"
    }
}
